.gallery {
  max-width: 55rem;
  min-height: 35rem;
  background-color: white;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}
img {
  width: 20rem;
  height: 20rem;
  display: inline-block;
  margin: 1rem;
}
.text {
  width: 25rem;
  margin: 0.5rem 0 0.5rem 0;
  text-align: center;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.btn {
  width: 5rem;
  height: 2rem;

  background-color: rgb(188, 236, 13);
  border-radius: 1rem;
  border: none;
  outline: none;
  margin-right: 1.5rem;
  cursor: pointer;
}
.btn-trash {
  background-color: red;
}
.main-img {
  width: 90%;
  height: 30rem;
  margin-top: 5rem;
  border-radius: 0.5rem;
}
